@font-face {
    font-family: '604';
    src: url("../fonts/604.ttf");
}

* {
    font-family: "604";
    color: red;
}

body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}